<div class="main__container pt-10">
  <div class="todo__new-input flex items-center gap-3 mb-20">
    <input type="text" [(ngModel)]="taskText" class="todo__input focus:outline-none w-1/4 rounded-md py-2 px-3 font-medium dark:bg-slate-800 dark:text-gray-400"
      placeholder="Add a new task">
    <button [disabled]="isInputEmpty()" class="todo__add-btn">
      <i class="bi bi-plus-circle text-3xl text-white dark:text-gray-400"></i>
    </button>
  </div>
  <div class="todo__boxes__container flex gap-20">
    <div class="todo__all min-h-64 w-1/2 drop-shadow-xl rounded-xl p-3 bg-white dark:bg-slate-800">
      <div class="todo__item w-100 rounded-md flex bg-neutral-100 dark:bg-sky-900 drop-shadow-md">
        <div class="todo__pending--indicator bg-orange-500 w-2 rounded-l-xl"> </div>
        <div class="todo__pending--container w-full flex justify-between items-center px-2 py-2 font-medium dark:text-gray-400">
          <div class="todo__pending--text">Estudiar rxjs</div>
          <i class="bi bi-check-circle-fill text-xl"></i>
        </div>
      </div>
      <div class="todo__item w-100 rounded-md flex bg-neutral-100 dark:bg-sky-900 drop-shadow-md">
        <div class="todo__pending--indicator bg-orange-500 w-2 rounded-l-xl"> </div>
        <div class="todo__pending--text px-2 py-2 font-medium dark:text-gray-400">
          Estudiar rxjs
        </div>
      </div>
      <div class="todo__item w-100 rounded-md flex bg-neutral-100 dark:bg-sky-900 drop-shadow-md">
        <div class="todo__pending--indicator bg-orange-500 w-2 rounded-l-xl"> </div>
        <div class="todo__pending--text px-2 py-2 font-medium dark:text-gray-400">
          Estudiar rxjs
        </div>        
      </div>
    </div>
    <div class="todo__completed min-h-64 w-1/2 drop-shadow-xl rounded-xl p-3 bg-white dark:bg-slate-800">
      <div class="todo__item w-100 rounded-md flex bg-neutral-100 dark:bg-sky-900 drop-shadow-md">
        <div class="todo__pending--indicator bg-green-600 w-2 rounded-l-xl"> </div>
        <div class="todo__pending--text px-2 py-2 font-medium dark:text-gray-400">
          Trabajar en el proyecto de angular
        </div>
      </div>
      <div class="todo__item w-100 rounded-md flex bg-neutral-100 dark:bg-sky-900 drop-shadow-md">
        <div class="todo__pending--indicator bg-green-600 w-2 rounded-l-xl"> </div>
        <div class="todo__pending--text px-2 py-2 font-medium dark:text-gray-400">
          Pagar internet
        </div>
      </div>
    </div>
  </div>
</div>